<md-card class="card-transparency">
    <h1>
        <p style="font-variant: small-caps; color: chartreuse;">
            Entre, encontre seu guia de viagem.
        </p>
    </h1>
</md-card>

<md-card class="card-transparency">
    <h1>
        <p style="text-align: center;color: tomato;">
            Conheça novos lugares.
        </p>
    </h1>
</md-card>

<md-card class="card-transparency">
    <h1>
        <p style="text-align: right;color: lightyellow;">
            Faça novas amizades.
        </p>
    </h1>
</md-card>